.header {
    align-items: center;
    border-bottom: 1px solid var(--border-one);
}

.header__container {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        justify-content: left;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        
    }
}

.header_nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline-flex;
    }

    @media screen and (min-width: 1200px) {}
}

.site-navigation {
    display: flex;
}

.site-navigation__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-navigation__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--active {
        color: var(--link);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            background-color: var(--link);
            border-radius: 2px;
            height: 4px;
            width: 100%;

            @media screen and (min-width: 768px) {
                bottom: -8px;
            }

            @media screen and (min-width: 1200px) {
                bottom: -4px;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }

    &:hover,
    &:focus {
        color: var(--link);
    }
}

.header-contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        padding-top: 21px;
        padding-bottom: 21px;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header-contacts__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
        }

    }
}

.header-contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    &:hover,
    &:focus {
        color: var(--link);
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: 768px) {
        display: block;

        &--mail {
            width: 16px;
            height: 12px;
        }

        &--phone {
            width: 10px;
            height: 16px;
        }
    }
}